@page "/customerror/{ErrorMessage}"


<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Development Mode</h3>
<p>
    @ErrorMessage   
</p>

@code {
    [Parameter]
    public string ErrorMessage { get; set; }
}